@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.page_header {
  margin-bottom: 20px;
}

.navigation_link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.welcome {
  background-image: url("../images/index/hero/index_background.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-bottom: 69px;
}

.advantages {
  text-align: center;
}

.section_title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.section_subtitle {
  font-size: 22px;
  line-height: 26px;
}

.welcome,
.advantages {
  margin-bottom: 69px;
}

.service,
.booking,
.catalog_products_result {
  margin-bottom: 96px;
}

.newsletter {
  margin-bottom: 45px;
}

.inner_header {
  margin-bottom: 40px;
}

.catalog_products_filter {
  margin-bottom: 56px;
}

.logo {
  margin-bottom: 0;
  display: block;
}

.navigation {
  margin-bottom: 0;
}

.advantages_item {
  margin-bottom: 112px;
}

.advantages_item:last-child {
  margin-bottom: 0;
}

.service_item {
  margin-bottom: 0;
}

.breadcrumbs_item {
  margin-bottom: 0;
}

.product_card {
  margin-bottom: 60px;
}

.pagination {
  margin-bottom: 0;
}

.sedona_logo,
.advantages_picture,
.product_card_image {
  display: block;
}
