@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  font-family: "PT Sans", sans-serif;
}

.page_header {
  margin-bottom: 20px;
}

.navigation_link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.welcome {
  background-image: url("../images/index/hero/index_background.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-bottom: 69px;
}

.advantages {
  text-align: center;
  margin-bottom: 69px;
}

.section_title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.section_subtitle {
  font-size: 22px;
  line-height: 26px;
}

.advantages_item {
  width: 400px;
  height: 385px;
  color: #ffffff;
  background-color: #82B3D3;
}


.advantages_item_title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages_item_square,
.advantages_item_tourists {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages_item_road {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.service_item {
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.service_item_food {
  background-color: #ffffff;
}

.service_item_title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel_search {
  font-size: 20px;
  line-height: 36px;
}

.newsletter {
  width: 1200px;
  height: 415px;
}

.newsletter_mainpage {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/index/subscribe_background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.newsletter_title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter_button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.phone_link {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
}

.button_clear {
  background-color: transparent;
}

.button_favorites {
  background-color: #82B3D3;
}

.button_in_favorites {
  background-color: #7DB54F;
}

.header_filter {
  width: 1200px;
  height: 426px;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/catalog/filter_background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}


.inner_header_title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs_link {
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}

.catalog_filter_title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog_filter_list {
  line-height: 23px;
}

/*
.service,
.booking,
.catalog_products_result {
  margin-bottom: 96px;
}


.newsletter {
  margin-bottom: 45px;
}

.inner_header {
  margin-bottom: 40px;
}

.catalog_products_filter {
  margin-bottom: 56px;
}

.logo {
  margin-bottom: 0;
  display: block;
}

.navigation {
  margin-bottom: 0;
}

.advantages_item {
  margin-bottom: 112px;
}

.advantages_item:last-child {
  margin-bottom: 0;
}

.service_item {
  margin-bottom: 0;
}

.breadcrumbs_item {
  margin-bottom: 0;
}

.product_card {
  margin-bottom: 60px;
}

.pagination {
  margin-bottom: 0;
}

.sedona_logo,
.advantages_picture,
.product_card_image {
  display: block;
}

*/
